.card {
    min-width: 355px;
}

#collaboratorsList .card-body {
    font-size: 0.7em;
}

.table-bordered {
    border: 2px solid #343a40;
}

.table-bordered td {
    border-right: 1px solid #343a40;
}